.score-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-display > .panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.score-display > .panel > .separator {
    width: 20vw;
    height: 4px;

    background-color: white;

    border-radius: 4px;
}

.score-display > .panel .score {
    font-family: inherit;
    font-size: 3rem;

    color: white;
}

.score-display {
    .icon-bank {
        width: 96px;
        border-radius: 50%;
    }
    .icon-player {
        width: 80px;
        border-radius: 50%;
        box-shadow: 0 0 1px 0.5px white;
    }
}

.score-display img {
    width: 100%;
}

.score-display .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
}
