.playing-table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'dealer' 'player';

    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.playing-table > .dealer-view {
    grid-area: dealer;
}

.playing-table > .player-view {
    grid-area: player;
}
