.playing-card {
    background-color: white;

    aspect-ratio: 3/5;

    background-repeat: no-repeat;
    background-size: cover;

    border: 2px solid gray;
    border-radius: 20px;

    box-shadow: 4px 4px 4px black;
}
