.player-view {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    padding: 10em 6em 3em 6em;
}

.player-view > .drawn-cards {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 4em;

    height: 110%;
}

.player-view > .drawn-cards > .playing-card {
    height: 110%;
}
