.dealer-view {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 8em;

    padding: 3em 6em 10em 6em;
}

.dealer-view > .drawn-cards {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 4em;

    height: 110%;

    flex-grow: 1;
}

.dealer-view > .drawn-cards > .playing-card {
    height: 110%;
}

.dealer-view > .card-deck {
    height: 120%;
}
